<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/92025e0c7f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/92025e0c7f.css" crossorigin="anonymous">
    <title>More Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles1.css' %}">
    <link rel="stylesheet" href="{% static 'css/asap-stylesheet1.css' %}">
  </head>

  <body >

    <nav class="navbar navbar-expand-lg navbar-dark " style="padding:0% 5%; background-color: #cb1c24;">
        <a style="font-weight: bolder; font-size: 30px;" class="navbar-brand" href="">ASAP RENTING</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto" >
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cites' %}" style="color: #fff;">Home</a>
        </li>
      </ul>
      </div>
  
    </nav>

  
    <section id="delete-update " style="padding: 3% 5%;">
        <div class="delete_update ">
            <div class="delete_update_content">
                <div class="row delete_detail">
                <div class="col col-lg-6 img-detail" style="margin-bottom: 20px;">
                  {% if singlecite.cite_image %}  
                  <img src="{{ singlecite.cite_image.url }}" style="width:100%;" alt="">
                  {% endif %}
                </div>
                <div class="col col-lg-6 img_caption">
                    <h2>Description</h2>
                    <p>{{ singlecite.description }}</p>
                </div>
            </div>
                <div class="detail">
                    <table class="table table-bordered border-danger">
                        <thead>
                            <tr>
                              <th scope="col">Features</th>
                              <th scope="col">Detail</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Type</td>
                              <td>{{ singlecite.cite_type }}</td>
                            </tr>
                            <tr>
                              <td>Location</td>
                              <td>{{ singlecite.address }}</td>
                            </tr>
                            <tr>
                              <td>Price</td>
                              <td>{{ singlecite.price }}</td>
                            </tr>
                            {% if moredetail.dimension %}
                            <tr>
                              <td>Dimension</td>
                              <td>{{ moredetail.dimension }}</td>
                            </tr>
                            {% endif %}
                            {% if moredetail.toilet %}
                            <tr>
                              <td>Toilet</td>
                              <td>{{ moredetail.toilet }}</td>
                            </tr>
                            {% endif %}
                            {% if moredetail.light %}
                            <tr>
                              <td>Light</td>
                              <td>{{ moredetail.light }}</td>
                            </tr>
                            {% endif %}
                            {% if moredetail.kitchen %}
                            <tr>
                              <td>Kitchen</td>
                              <td>{{ moredetail.kitchen }}</td>
                            </tr>
                            {% endif %}
                            {% if moredetail.wardrobe %}
                            <tr>
                              <td>Wardrope</td>
                              <td>{{ moredetail.wardrobe }}</td>
                            </tr>
                            {% endif %}
                            {% if moredetail.water %}
                            <tr>
                              <td>Water</td>
                              <td>{{ moredetail.water }}</td>
                            </tr>
                            {% endif %}
                          </tbody>
                    </table>  
                </div>
                <div class="detail-button" style="padding-top: 20px; padding-bottom: 20px; display: flex; flex-direction: row; justify-content: space-between;">
                  <div class="b1">
                    <a href={% url 'updatecite' singlecite.cite_id %}>
                      <button class="btn btn-lg" style="background-color: #fd27bd; color: #fff;">Edit Info</button>
                    </a>
                    </div>
                  <div class="b2">
                    <a href={% url 'deletecite' singlecite.cite_id %}>
                      <button class="btn btn-lg" style="background-color: #a82222; color: #fff;">Delete</button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
      <div class="footer-class">
       <div class="footer-content">
        <p style="color: #fff;">Copyright</p>
        <!-- <img src="../asap-renting/images/copyright.jpg" alt="copyright" class="copyright-image"> -->
        <p style="color: #fff;">2023. All right reserved</p>
      </div>
     </div>
     </section>

  </body>
</html>