body{
    background-color:#EAF6F6;
    margin: "0px";
    padding: "0px";
}
hr{
    border-style:dotted none none;
    width: 5%;
    border-width:5px;
    border-color:wheat ;
}
h1{
    color: #59dbb0;
}
h3{
    color: #66BFBF;
}
img{
    border-radius: 50%;
}